html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

/* navbar */
.navbar {
  position: absolute;
  z-index: 999;
  right: 0;
  left: 0;
}

.container .navbar-brand {
  font-size: 2rem;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
}

.navbar .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: black;
}

.navbar .social {
  font-size: 1.3rem;
  display: flex;
  margin-left: 1.8rem;
}

.navbar .social .nav-social {
  color: black;
  margin: 0 0.5rem;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

/* header/landing */
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
}

.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
}

.landing .animation {
  width: 25rem;
  margin-bottom: -7rem;
}

.landing .introduce {
  margin-bottom: -7rem;
}

.landing .introduce .text {
  list-style-type: none;
  font-weight: 700;
  font-size: 2rem;
}

.landing .introduce .hi {
  font-size: 4rem;
  font-weight: 900;
}

.landing .wave {
  width: 100%;
  height: 23vh;
  background-image: url("../img/wavebot.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* about */
.about {
  width: 100%;
  min-height: 100vh;
}

.about .wavetop {
  width: 100%;
  height: 23vh;
  background-image: url("../img/wavetop.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about .container {
  margin-top: 3rem;
  text-align: justify;
  padding: 0 2rem;
}

.about h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2rem;
  text-align: center;
}

.about p {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin-bottom: 0.5rem;
}

.about .quotes {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 3rem;
}

/* skills */
.skills .row img {
  width: 12rem;
  margin: 2rem 0;
}

/* projects */
.projects {
  text-align: center;
}

.projects h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 5rem auto 2rem;
}

.projects p {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  margin: 3rem 0;
}

.projects .card {
  margin-bottom: 1.5rem;
}

.projects .card .card-body img {
  width: 8rem;
}

.projects .card .card-body a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: #0277BD;
}

/* contacts */
.contacts {
  text-align: center;
}

.contacts h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 5rem auto 2rem;
}

.contacts p {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  margin: 3rem 0 1rem;
}

.contacts .social {
  margin-top: 3rem;
}

.contacts .social a {
  color: #000;
  font-size: 2.5rem;
  margin: 0 1rem;
}

.contacts .social a:hover {
  color: #6e6e6e;
}

/* top */
.totop a {
  font-size: 3rem;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  right: 0;
  margin: 1.5rem;
  color: rgba(110, 110, 110, 0.4);
}

/* footer */
footer {
  width: 100%;
  color: #fff;
  background-color: #0D3182;
  margin-top: 5rem;
  text-align: center;
}

footer .container {
  padding: 2rem;
}

footer .logo {
  width: 17rem;
}

footer .copyright {
  margin-top: 1rem;
}

footer .copyright p {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

footer .footer-menu {
  text-align: center;
  padding-bottom: 1rem;
}

footer .footer-menu a {
  color: #fff;
  padding: 0 0.4rem;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

footer .footer-menu a:hover {
  color: #6e6e6e;
}

@media only screen and (min-width: 62em) {
  .navbar .navbar-nav .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid royalblue;
    border-radius: 3px;
    width: 50%;
    margin: auto;
    margin-bottom: -3px;
  }

  footer .footer-menu {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 62em) {
  .collapse {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    box-shadow: 2px 2px 4px rgba(234, 234, 234, 0.8);
  }

  .collapse .navbar-nav .nav-link {
    color: #6e6e6e;
  }

  .landing .introduce .text {
    display: none;
  }

  .landing .animation {
    margin-top: -10vh;
    margin-left: -2.5rem;
  }

  .about .wavetop {
    height: 15vh;
  }
}
