/* navbar */
.container .navbar-brand {
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
}

.navbar .navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: black;
}

.navbar .navbar-nav .nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid royalblue;
  border-radius: 3px;
  width: 50%;
  margin: auto;
  margin-bottom: -3px;
}

.navbar .social {
  font-size: 1.3rem;
  display: flex;
  margin-left: 1.8rem;
}

.navbar .social .nav-social {
  color: black;
  margin: 0 0.5rem;
}